body{
    background-color: lightblue;
}

.page_title{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: black;
    color: darkblue;
    padding-bottom: 5%;
}

.list_introduction{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 30px;
    color: darkblue;
    padding-bottom: 5%;
}

.list_image{
    width: 10%;
    height: 10%;
    vertical-align: middle;
    padding-left: 5%;
}

.list_element{
    padding-bottom: 5%;
    color: darkblue;
    font-weight: bold;
}

.animal_page_image{
    width: 50%;
    height: 50%;
    padding-left: 25%;
}

.animal_page_caption{
    text-align: center;
    padding-bottom: 5%;
    color: darkblue;
}

.animal_page_description{
    font-size: 20px;
    color: darkblue;
    padding-bottom: 5%;
    font-weight: bold;
}